:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 751px;
  height: 377px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.wrapper {
  position: absolute;
  height: 377px;
  top: 0;
  right: 0;
  left: 0;
  background: #ffffff;
}
.wrapper-2 {
  position: absolute;
  width: 751px;
  height: 75px;
  right: 0;
  bottom: 296px;
  background: rgba(0, 0, 0, 0);
  z-index: 46;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 32px;
  right: 356px;
  bottom: 16px;
  color: #6f7174;
  font-family: Inter, var(--default-font-family);
  font-size: 9.5px;
  font-weight: 600;
  line-height: 11.497px;
  text-align: center;
  text-overflow: initial;
  z-index: 58;
  overflow: hidden;
}
.text-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  right: 288px;
  bottom: 34px;
  color: #6d6f72;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.text-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  right: 420px;
  bottom: 34px;
  color: #737577;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.text-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  right: 47px;
  bottom: 34px;
  color: #6b6d70;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.text-5 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  right: 223px;
  bottom: 34px;
  color: #686a6c;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.text-6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  right: 111px;
  bottom: 34px;
  color: #6a6c6e;
  font-family: Inter, var(--default-font-family);
  font-size: 9.5px;
  font-weight: 600;
  line-height: 11.497px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.text-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  right: 168px;
  bottom: 34px;
  color: #65676a;
  font-family: Inter, var(--default-font-family);
  font-size: 9.5px;
  font-weight: 600;
  line-height: 11.497px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.text-8 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  right: 569px;
  bottom: 26px;
  color: #4d5053;
  font-family: Inter, var(--default-font-family);
  font-size: 11.5px;
  font-weight: 600;
  line-height: 13.918px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.img {
  position: absolute;
  width: 7px;
  height: 15px;
  right: 696px;
  bottom: 26px;
  background: url(./assets/images/7ce2c110c4c08c3cc2e1c78701a50d3db3a0dba0.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
}
.text-9 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  right: 54px;
  bottom: 14px;
  color: #585a5d;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.text-a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 115px;
  bottom: 15px;
  color: #636567;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.aug {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 296px;
  bottom: 15px;
  color: #5f6264;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.aug-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 171px;
  bottom: 15px;
  color: #5a5c5f;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.aug-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 229px;
  bottom: 15px;
  color: #585a5d;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.aug-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 428px;
  bottom: 15px;
  color: #55575a;
  font-family: Inter, var(--default-font-family);
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12.707px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.background {
